
<html>
	<head>
		<link rel="stylesheet" href="styles/bootstrap.min.css" />
		<script src="scripts/main.js"></script>
		<title>MEAN App</title>
	</head>
	<body>
		<h1><%= title %></h1>
		<div class="panel panel-danger">
			<h3 class="panel-heading">Customers Hub</h3>
			<div class="panel-body">
				<img src="images/verizon.jpg" width="150" />
				<section class="panel panel-success">
					<ul class="list-group">
						<li class="list-group-item"><a href="#">IT Services</a></li>
						<li class="list-group-item"><a href="#">Mobile Services</a></li>
						<li class="list-group-item"><a href="#">IoT Services</a></li>
					</ul>
				</section>
			</div>
		</div>		
	</body>
</html>
